.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/static/images/clouds-background.jpg") no-repeat center
    center;
  background-size: cover;
  z-index: -1;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .background {
    background-size: contain;
  }
}

@media (max-width: 480px) {
  .background {
    background-size: contain;
    background-position: top;
  }
}

@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}

.work-mode .background {
  background: url("/static/images/clouds.png") repeat-x,
    linear-gradient(160deg, var(--cinnamoroll-blue) 20%, #8bc7eb 100%);
  animation: clouds 20s linear infinite;
}

.short-break-mode .background {
  background: 
  url("/static/images/tardeN.png") repeat-x, /* Nuvens animadas */
  url("/static/images/tardE.png") center/cover no-repeat; /* GIF animado como fundo */

animation: nclouds 20s linear infinite;
}

.long-break-mode .background {
  background: 
    url("/static/images/nightT.png") repeat-x, /* Nuvens animadas */
    url("/static/images/night.gif") center/cover no-repeat; /* GIF animado como fundo */
  
  animation: nclouds 20s linear infinite;
}

@keyframes nclouds {
  from {
    background-position: 0 0, center;
  }
  to {
    background-position: 100% 0, center;
  }
}
